.box {
  font-family: sans-serif;
  border-radius: 500px;
  width: auto;
  margin: 40px 35px 40px 35px;
  border-color: black;
}

body {
  background: pink;
  max-width: 700px;
  margin: 70px auto;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 39px;
}
h2 {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 39px;
}
h3 {
  text-align: right;
  font-family: "Times New Roman", Times, serif;
  font-size: 39px;
}
li {
  color: dark gray;
  list-style: none;
  text-align: right;
}

p1 {
  font-family: comic "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  text-align: left;
  font-size: 20px;
}

p2 {
  font-family: comic "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  text-align: left;
  font-size: 20px;
}

.rain-emoji {
  width: 50px;
  justify-items: center;
}

.div {
  border: 1px solid black;
  background-color: red;
  text-align: center;
}

.weather-time {
  text-align: left;
  font-size: 20px;
}
.col {
  text-align: center;
  font-size: 20px;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  text-align: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.current-temperature-icon {
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
